 body {
     background-color: black;
     color: white;
    font-family: 'DM Serif Display', serif;
 }

 .hero-image {
     background-image: url("hero-image.jpg");
     border-radius: 8px;
     padding: 120px 0px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
 }
.hero-text {
    text-align: center;
    
}
 .container {
     display: block;
     margin: 0 auto;
     max-width: 1000px;
     background-color: rgb(54, 52, 52);
     border-radius: 8px;
     padding: 10px;
 }

 button {
     display: block;
     padding: 5px 10px;
     border-radius: 8px;
     margin: 0 auto;
     border: 1px solid white;

 }

 button:hover {
     background-color: rgb(54, 52, 52);
     color: white;
 }

 h1 {
     text-align: center;
     font-size: 96px;
     margin: 10px;
 }

 h2 {
     text-align: center;
     font-weight: 100;
     font-size: 45px;
     margin-top: 15px;
     margin-bottom: 15px;
 }

 img {
     border-radius: 8px;
     max-width: 100%;
     transition: all 150ms ease-in-out;
     margin: 0 auto;
 }

 img:hover {
     transform: scale(1.2);
 }

 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 10px;
     margin: 0 0 10px 0;
     
 }
 .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
 }

 footer {
     text-align: center;
     padding-top: 40px;
 }
 .github-link, .email-link, .instagram-link {
    font-size: 45px;
    padding: 15px;
 }
.portfolio-link {
    font-size: 25px;
    padding-top: 10px;
}
 a {
     text-decoration: none;
     color: white;
 }

 .light {
     background-color: white;
 }

 .light .container {
     background-color: white;
     color: rgb(54, 52, 52);
 }
.light .container .hero .hero-image .hero-text h1 {
    color: white;
}
 .light footer {
     color: rgb(54, 52, 52);
 }

 .light a {
     color: rgb(54, 52, 52);
 }

 @media (max-width: 820px) {
    .hero-text h1 {
        font-size: 70px;
    }
    .container h2 {
        font-size: 30px;
    }
 }

 @media (max-width: 615px) {
     .hero-text h1 {
         font-size: 55px;
     }
 }

 @media (max-width: 490px) {
     .hero-text h1 {
         font-size: 40px;
     }
 }